.nav{
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding: 10px;
}

.mycontainer {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 auto;
  }

  .title {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: red;
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    width: 100%;
  }

.intro {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}

.testcolumn {
    float: left;
    width: 33.33%;
    padding: 30px;
    font-family: 'Comfortaa', cursive;
}

.products {
    text-align: center;
}

.testimonials {
    text-align: center;
}

.footer {
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    color: green;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.column1 {
    float: left;
    width: 33.3%;
    padding-left: 30px;
    padding-right: 30px;
}

.photos1 {
    position: relative;
    width: auto;
    height: auto;
}

.modal {
  font-family: 'Comfortaa';
    /*inside of modal*/
}

.btn-primary {
  font-family: 'Comfortaa', bold;
}

.btn btn-primary {
  font-family: 'Comfortaa';
}

.btn-group {
  padding: 30px;
}
